trunk/cantho-map/schema.xml

<?xml version="1.0" encoding="UTF-8"?> 
<xs:schema xmlns:xs=" http://www.w3.org/2001/XMLSchema" 
           xmlns:tns=" http://schemas.xmlsoap.org/soap/envelope/" 
		   targetNamespace="http://snlibs.googlepages.com/schema.xml"> 
	<xs:element name="ReverseRequest"> 
		<xs:complexType> 
		   <xs:sequence> 
		   		<xs:element name="text" type="xs:string"/> 
		   </xs:sequence> 
		 </xs:complexType> 
	</xs:element> 
	<xs:element name="ReverseResponse">
		<xs:complexType>
			<xs:sequence> 
				<xs:element name="result" type="xs:string"/> 
			</xs:sequence> 
		</xs:complexType> 
	</xs:element> 
</xs:schema>
